# Copy this file to `.env` and adjust values for local development.
# Variables must use the NG_APP_ prefix to be exposed to the Angular app.

NG_APP_ENV=development
NG_APP_NAME=Spartan Template
NG_APP_API_URL=http://localhost:3000/api
NG_APP_ENABLE_DEBUG=true
NG_APP_USE_SSO=false
NG_APP_REDIRECT_SSO=
NG_APP_COOKIE_TENANT_KEY=tenant_key
NG_APP_COOKIE_REFRESH_KEY=refresh_key
